
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    background-color: #f0f0f0;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.logo p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: black;
    padding: 15px 15px;
    font-size: 1em;
    transition: .2s ease-in-out;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}

.nav-bar ul li a:hover {
    text-decoration: underline;
    color: #3a3a3a;
}

.material-symbols-outlined {
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.5em;
    margin-left: 10px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#cart-disapear {
    display: none;
}

#open-cart {
    height: 100%;
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0vw;
    background-color: whitesmoke;
    box-shadow: 8px 8px 15px #00000080;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#cart-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0px 30px 0px;
}

.close-cart {
    font-size: 1.8em;
    margin-bottom: 7px;
}

.cart-items {
    height: 100px;
    width: 90%;
    background-color: white;
    box-shadow: 2px 2px 3px #0000001c;
}

#account-menu-disappear {
  display: none;
}
