* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#content-wrapper {
    height: fit-content;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 30px auto 30px auto;
    background-color: #f0f0f0;
    box-shadow: 5px 5px 8px #0000001f;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#box-for-img {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    grid-column-start: 2fr;
}

#box-for-img p::after {
    content: '';
    height: 1px;
    width: 200%;
    display: block;
    margin-top: 25%;
    background-color: lightgray;
}

#box-for-img img {
    height: 80px;
    width: 50%;
    display: block;
    margin: auto;
    object-fit: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

#box-for-total p {
    margin: 50px 0px 0px 4%;
    font-weight: bold;
}

#buy {
    height: 40px;
    width: 90%;
    background-color: black;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px 5%;
    transition: 0.2s;
}

#buy:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}