* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    background-color: white;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.logo p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.material-icons {
    font-size: 2em;
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: black;
    padding: 15px 15px;
    font-size: 1em;
    transition: .2s ease-in-out;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}

.nav-bar ul li a:hover {
    text-decoration: underline;
    color: #464646;
}

.material-symbols-outlined {
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.5em;
    margin-left: 10px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.flashes {
    color: #ff2121;
}