/*Register and Login*/
@media screen and (min-width: 600px) and (max-width: 768px) {
    main {
        height: 500px;
        width: 550px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    main {
        width: 730px;
    }

    .welcome-box {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        text-align: center;
        color: white;
        background-color: black;
    }

    .welcome-box p {
        font-family: 'Arial Narrow Bold', sans-serif;
        margin: 30px 0px 30px 0px;
        line-height: 20px;
    }

    .welcome-box a {
        height: 40px;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        cursor: pointer;
        border: 1px solid white;
        color: white;
        text-decoration: none;
        letter-spacing: 0.1em;
        font-weight: bold;
        font-size: 0.9em;
        transition: .2s ease;
    }

    .welcome-box a:hover {
        background-color: #f0f0f0;
        color: black;
    }
}

@media screen and (min-width: 993px) {
    main {
        width: 850px;
    }

    .welcome-box {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
        color: white;
        background-color: black;
    }

    .welcome-box p {
        font-family: 'Arial Narrow Bold', sans-serif;
        margin: 30px 0px 30px 0px;
        line-height: 20px;
    }

    .welcome-box a {
        height: 40px;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        cursor: pointer;
        border: 1px solid white;
        color: white;
        text-decoration: none;
        letter-spacing: 0.1em;
        font-weight: bold;
        font-size: 0.9em;
    }

    .welcome-box a:hover {
        background-color: #f0f0f0;
        color: black;
    }
}

/*Home*/
/*Header*/


/*@media screen and (min-width: 600px) and (max-width: 768px) {

}

@media screen and (min-width: 769px) and (max-width: 992px) {
 
}

@media screen and (min-width: 993px) {

}*/

@media (max-width: 768px) {
    .material-icons {
        display: block;
        cursor: pointer;
    }

    .nav-bar {
        height: 500px;
        width: 100vw;
        position: absolute;
        top: 70px;
        left: 0px;
        right: 0px;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 500px;
    }

    .nav-bar ul {
        width: fit-content;
        display: block;
        margin: 50px auto 0px auto;
        text-align: center;
        opacity: 1;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 40px;
    }
}
