/*Register and Login*/
@media screen and (min-width: 600px) and (max-width: 768px) {
    main {
        height: 500px;
        width: 550px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    main {
        width: 730px;
    }

    #already-account {
        display: none;
    }

    .welcome-box {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        text-align: center;
        color: white;
        background-color: black;
    }

    .welcome-box p {
        font-family: 'Arial Narrow Bold', sans-serif;
        margin: 30px 0px 30px 0px;
        line-height: 20px;
    }

    .welcome-box a {
        height: 40px;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        cursor: pointer;
        border: 1px solid white;
        color: white;
        text-decoration: none;
        letter-spacing: 0.1em;
        font-weight: bold;
        font-size: 0.9em;
        transition: .2s ease;
    }

    .welcome-box a:hover {
        background-color: #f0f0f0;
        color: black;
    }
}

@media screen and (min-width: 993px) {
    main {
        width: 850px;
    }

    #already-account {
        display: none;
    }

    .welcome-box {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
        color: white;
        background-color: black;
    }

    .welcome-box p {
        font-family: 'Arial Narrow Bold', sans-serif;
        margin: 30px 0px 30px 0px;
        line-height: 20px;
    }

    .welcome-box a {
        height: 40px;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        cursor: pointer;
        border: 1px solid white;
        color: white;
        text-decoration: none;
        letter-spacing: 0.1em;
        font-weight: bold;
        font-size: 0.9em;
    }

    .welcome-box a:hover {
        background-color: #f0f0f0;
        color: black;
    }
}

/*Home*/
/*Header*/

@media (max-width: 600px) {
    #menu {
        display: block;
        cursor: pointer;
    }

    .nav-bar {
        height: 0px;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0px;
        right: 0px;
        overflow: hidden;
        transition: 1s ease-in-out;
        background-color: #f0f0f0;
    }

    .nav-bar.active {
        height: 550px;
    }

    .nav-bar ul {
        width: fit-content;
        display: block;
        margin: 50px auto 0px auto;
        text-align: center;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 25px;
    }

    .material-symbols-outlined {
        cursor: pointer;
        font-size: 2em;
        margin-top: 0px;
        margin-bottom: 25px;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
}

/*Menu*/

@media screen and (min-width: 600px) and (max-width: 768px) {
    #menu-style {
        width: 350px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    #menu-style {
        width: 350px;
    }
}

@media screen and (min-width: 993px) {
    #menu-style {
        width: 400px;
    }
}

/*Cart*/

@media screen and (min-width: 600px) and (max-width: 768px) {
    #open-cart {
        width: 350px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    #open-cart {
        width: 350px;
    }
}

@media screen and (min-width: 993px) {
    #open-cart {
        width: 400px;
    }
}

/*Body*/

@media screen and (min-width: 600px) and (max-width: 768px) {   
    #product-text > p {
        width: 65%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    #product-text > p {
        width: 55%;
    }

    #main-img {
        height: 60vh;
        padding-left: 120px;
    }

    #main-img h3 {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 993px) {
    #product-text > p {
        width: 45%;
    }

    #main-img {
        height: 60vh;
        padding-left: 160px;
    }

    #main-img h3 {
        font-size: 1.3em;
    }
}

/*Sellers page*/

@media screen and (min-width: 600px) and (max-width: 768px) {
    #form {
        height: 500px;
        width: 275px;
    }

    #seller-box {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    #seller-form {
        width: 730px;
        flex-direction: row;
    }

    #seller-box {
        height: 500px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        text-align: center;
        color: white;
        background-color: black;
    }

    #seller-box p {
        font-family: 'Arial Narrow Bold', sans-serif;
        margin: 30px 0px 30px 0px;
        line-height: 20px;
    }
}

@media screen and (min-width: 993px) {
   #form {
        width: 850px;
   }

    #seller-form {
        width: 730px;
        flex-direction: row;
    }

    #seller-box {
        height: 500px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        text-align: center;
        color: white;
        background-color: black;
    }

    #seller-box p {
        font-family: 'Arial Narrow Bold', sans-serif;
        margin: 30px 0px 30px 0px;
        line-height: 20px;
    }
}

/*Product page*/

@media screen and (min-width: 600px) and (max-width: 768px) {
    #content-box {
        height: 400px;
        width: 85vw;
        flex-direction: row;
    }

    #content-box-img {
        height: 100%;
        width: 50%;
    }

    #content-box-img img {
        height: 70%;
        width: 70%;
    }

    #description-box {
        width: 90%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    #content-box {
        height: 450px;
        width: 85vw;
        flex-direction: row;
    }

    #content-box-img {
        height: 100%;
        width: 50%;
    }

    #content-box-img img {
        height: 70%;
        width: 70%;
    }

    #content-box-info {
        width: 50%;
    }

    #description-box {
        width: 85%;
    }

    #add-to-cart {
        width: 80%;
    }
}

@media screen and (min-width: 993px) {
    #content-box {
        height: 480px;
        width: 85vw;
        flex-direction: row;
    }

    #content-box-img {
        height: 100%;
        width: 50%;
    }

    #content-box-img img {
        height: 70%;
        width: 70%;
    }

    #content-box-info {
        width: 50%;
    }

    #description-box {
        width: 80%;
    }

    #add-to-cart {
        width: 70%;
    }
}

/*Footer*/

@media screen and (min-width: 600px) and (max-width: 768px) {
    /*#ifooter {
        position: relative;
    }*/
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    #ifooter {
        height: 200px;
        display: flex;
        justify-content: space-around;
    }

    #ifooter > div {
        margin-left: 0px;
    }
}

@media screen and (min-width: 993px) {
    #ifooter {
        height: 200px;
        display: flex;
        justify-content: space-around;
    }

    #ifooter > div {
        margin-left: 0px;
    }
}

/*About Page*/

@media screen and (min-width: 600px) and (max-width: 768px) {
    main {
        width: 95vw;
    }

    .about-boxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about-boxes > .txt-description {
        width: 55%;
    }

    .black-box {
        height: 50vh;
        width: 40%;
        background-color: black;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    main {
        width: 80vw;
    }

    .about-boxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about-boxes > .txt-description {
        width: 55%;
    }

    .black-box {
        height: 50vh;
        width: 40%;
        background-color: black;
    }
}

@media (min-width: 993px) {
    main {
        width: 55vw;
    }

    .about-boxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about-boxes > .txt-description {
        width: 55%;
    }

    .black-box {
        height: 50vh;
        width: 40%;
        background-color: black;
    }
}