* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#content-box {
    height: 500px;
    width: 275px;
    display: flex;
    flex-direction: column;
    margin: 30px auto 30px auto;
    background-color: white;
    box-shadow: 5px 5px 8px #0000001f;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#content-box-img {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#content-box-img img {
    height: 90%;
    width: 90%;
    display: block;
    margin: auto;
    object-fit: contain;
    background-repeat: no-repeat;
}

#content-box-info {
    width: 100%;
    padding: 10px;
}

#description-box {
    margin:  15% auto 15% auto;
    text-align: justify;
    color: #2e2e2e;
}

#add-cart-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-to-cart {
    height: 40px;
    width: 90%;
    background-color: black;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
    border: none;
    margin: 0px;
    transition: 0.2s;
}

#add-to-cart:hover {     
    color: black;
    background-color: white;
    border: 1px solid black;
}