* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

main {
    height: 520px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #f0f0f0;
    box-shadow: 5px 5px 8px #0000001f;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#register-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register-box legend {
    margin-bottom: 100px;
    margin-top: 0px;
    font-size: 1.7em;
    font-weight: bold;
}

.icon-input-box {
    width: 85%;
    display: flex;
    margin-bottom: 20px;
}

.material-icons {
    text-align: center;
    line-height: 40px;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    font-size: 1.2em;
    color: #c0c0c0;
    background-color: white;
}

.ipattern {
    height: 40px;
    width: 95%;
    padding-left: 5px;
    outline: none;
    border: none;
}

.buy-sell-box {
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 0.1em;
    margin: 20px 0px 20px 0px;
}

.iradio {
    height: 17px;
    width: 17px;
    accent-color: black;
    margin-right: 20px;
}

#signup {
    height: 40px;
    width: 90%;
    background-color: black;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    transition: 0.2s;
}

#signup:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.welcome-box {
    display: none;
}

.messages {
    margin-top: 10px;
    list-style: none;
    color: #ff2121;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.flashes {
    list-style-type: none;
    color: #ff2121;
    text-align: center;
}

#already-account {
    color: black;
    margin-top: 30px;
    text-decoration: none;
}

#already-account:hover {
    text-decoration: underline;
    color: #464646;
}