* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#register-box {
    height: 500px;
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 5px 5px 8px #0000001f;

}

#register-box h2 {
    margin-bottom: 80px;
    margin-top: 20px;
}

#form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-input-box {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.material-icons {
    text-align: center;
    line-height: 40px;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    font-size: 1.2em;
    color: #c0c0c0;
    background-color: white;
}

.ipattern {
    height: 40px;
    width: 95%;
    padding-left: 5px;
    outline: none;
    border: none;
}

.buy-sell-box {
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 0.1em;
    margin: 20px 0px 20px 0px;
}

.iradio {
    height: 17px;
    width: 17px;
    accent-color: black;
    margin-right: 20px;
}

#singup {
    height: 40px;
    width: 90%;
    background-color: black;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
    border: none;
    margin-left: 20px;
    margin-top: 10px;
    transition: 0.2s;
}

#singup:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.welcome-box {
    display: none;
}