* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#register-box {
    height: 400px;
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 5px 5px 8px #0000001f;

}

#register-box h2 {
    margin-bottom: 100px;
}

#form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.material-icons {
    font-size: 1.5em;
    color: #c0c0c0;
}

.ipattern {
    height: 40px;
    width: 70%;
    padding-left: 5px;
    margin: 10px 0px 10px 0px;
    outline: none;
    border: none;
}

#singup {
    height: 40px;
    width: 90%;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    margin-left: 20px;
    margin-top: 10px;
}