#main-success {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto 16% auto;
    padding: 10px;
    text-align: justify;
    background-color: #f0f0f0;
    box-shadow: 5px 5px 8px #0000001f;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#main-success h2 {
    margin: 20px 0px 50px 0px;
}