<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <ul>
  {% for product in products %}
  <li> Product id = {{ product['id'] }}</li>
  <img src="{{url_for('img', name=product['image'])}}" alt="Sorry, no image for this product">
  {% endfor %}
  </ul>
  <p>Total = $ {{ products | sum(attribute='price')}}</p>
  <form method="POST">
    <input type="submit" value="Buy">
  </form>
</body>
</html>
