<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  <nav>
    <div>
      <a href="{{url_for('register')}}">Register</a>
      <a href="{{url_for('login')}}">Login</a>
      <a href="{{url_for('seller')}}">Seller</a>
    </div>
  </nav>
  {% with messages = get_flashed_messages()%}
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li> {{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  <div class="offers">
  {% for offer in offers %}
    <ul>
      <li> {{ offer['offername'] }} for {{ offer['price']}} </li>
    </ul>
  {% endfor %}
  </div>
</body>
</html>
