<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <main>
        <section class="welcome-box">

        </section>

        <section id="register-box">
            <h2>
                Login In Your Account
            </h2>

            <form action="" method="post">
                <span class="material-icons">email</span>
                <input type="email" name="bemail" id="iemail" placeholder="Email">

                <span class="material-icons">lock</span>
                <input type="password" name="bpassword" id="ipassword" placeholder="Password">

                <input type="submit" value="Sign In">
            </form>
        </section>
        <section class="messages">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="flashes">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </section>
    </main>
</body>
</html>
