<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main>
        <section id="register-box">
            <h2>
                Login In Your Account
            </h2>

            <form action="" method="post">
                <span class="material-symbols-outlined">
                    person
                </span>
                <input type="email" name="bemail" id="iemail" placeholder="Email">

                <i class="material-icons"></i>
                <input type="password" name="bpassword" id="ipassword" placeholder="Password">
            </form>

            <input type="submit" value="Login">
        </section>

        <section id="welcome-box">

        </section>
    </main>
</body>
</html>