<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"  href="{{url_for('static/style', filename='style.css')}}">
</head>
<body>
    <main>
        <section id="register-box">
            <h2>
                Create Account
            </h2>

            <form method="post">
                <i class="material-icons">person</i>
                <input type="text" name="busername" id="iusername" placeholder="Username">

                <span class="material-icons">email</span>
                <input type="email" name="bemail" id="iemail" placeholder="Email">

                <span class="material-icons">lock</span>
                <input type="password" name="bpassword" id="ipassword" placeholder="Password">

                <input type="submit" value="Sign Up">
            </form>
        </section>

        <section class="welcome-box">

        </section>
    </main>
</body>
</html>
