<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
</head>
<body>
    <main>
        <section id="register-box">
            <h2>
                Create Account
            </h2>

            <form method="post" id="form-box">
                <div class="icon-input-box">
                    <span class="material-icons">person</span>
                    <input type="text" name="busername" class="iusername ipattern" placeholder="Username">
                </div>

                <div class="icon-input-box">
                    <span class="material-icons">email</span>
                    <input type="email" name="bemail" class="iemail ipattern" placeholder="Email">
                </div>

                <div class="icon-input-box">
                    <span class="material-icons">lock</span>
                    <input type="password" name="bpassword" class="ipassword ipattern" placeholder="Password">
                </div>

                <input type="submit" value="Sign Up" id="singup">
            </form>
        </section>

        <section class="welcome-box">

        </section>
    </main>
</body>
</html>
