<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='style/register.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style/mquery.css')}}">
</head>
<body>
    <main>
        <section id="register-box">
            <legend>
                Create Account
            </legend>

            <form method="post" id="form-box">
                <div class="icon-input-box">
                    <label for="iusername">
                        <span class="material-icons">person</span>
                    </label>

                    <input type="text" name="busername" class="iusername ipattern" placeholder="Username">
                </div>

                <div class="icon-input-box">
                    <label for="iemail">
                        <span class="material-icons">email</span>
                    </label>

                    <input type="email" name="bemail" class="iemail ipattern" placeholder="Email">
                </div>

                <div class="icon-input-box">
                    <label for="ipassword">
                        <span class="material-icons">lock</span>    
                    </label>
                    <input type="password" name="bpassword" class="ipassword ipattern" placeholder="Password">
                </div>

                <div class="buy-sell-box">
                    <label for="buyer">Buyer</label>
                    <input type="radio" name="busertype" value="1" class="buyer iradio">

                    <label for="seller">Seller</label>
                    <input type="radio" name="busertype" value="2" class="seller iradio">
                </div>

                <input type="submit" value="Sign Up" id="signup">
            </form>
        </section>

        <section class="welcome-box">
            <h2>
                Welcome Back!
            </h2>

            <p>
                To keep connected with us please login with your personal info
            </p>

            <a href="login.html">Sign In</a>
        </section>
        <!-- technically there might be multiple error messages that's why it is handled as a list -->
        <div class="errors">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="flashes">
                {% for message in messages %}
                <li> {{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div>  
    </main>
</body>
</html>
