<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div>
    <h1>Add new product</h1>
    <form method="post" enctype="multipart/form-data">
      <label for="price">Price</label>
      <input type="number" name="bprice" step="any">
      <input type="text" name="btitle" placeholder="Offer Title">
      <input type="file" name="bimage" value="Image">
      <input type="submit" value="Create Offer">
    </form>
  </div>
    
</body>
</html>
